<!DOCTYPE html>
<html lang="en">
<head>
	  <title>Web Search Engine Project</title>
</head>

<body>

<p>Hi, this is a web search engine!</p>
<p>The code deploying the search engine to the web is <a href="https://github.com/hangzhangac/Web-Search-Engine-deployed">here</a>.</p>
<p>The implement of the search engine is <a href="https://github.com/hangzhangac/Web-Search-Engine">here</a>.</p>
<p>Only crawled websites in English language,</p>
<p>so if you input key words in a language other than English, you may not get the expected result.</p>
<div style="width:100%;text-align:center">
<form>
	<!-- <label for="fname">Input the key words:</label><br> -->
	<!-- Input key words:<br> -->
    {% if query %}
        <input type="text" name="user_query" value="{{ query }}" style="width:400px; height:40px;font-size:37px;">
    {% else %}
    	<input type="text" name="user_query" style="width:400px; height:40px;font-size:37px;">
	<!-- <input type="text" id="fname" name="fname"><br> -->
    {% endif %}
    <input type="submit" value="Search" text-align: "center" style="width:150px; height:45px;font-size:37px">
</form>
</div>
{% if result %}
{% for web in result %}
	<p>URL: <a href="{{web.url}}" target="_blank">{{web.url}}</a></p>
	<p>Snippet(Context): {{web.snippet}}</p>
	<p>------------------------------------------------------</p>
{% endfor %}
{% endif %}

</body>

</html>
